
<h1>315</h1>

 <form []="trapezForm">
  
  <label>A oldal</label>
  <input formControlName="a">
  <br>
  
  <label>B oldal</label>
  <input formControlName="b">
  <br>

  <label>C oldal</label>
  <input formControlName="c">
  <br>

  <label>D oldal</label>
  <input formControlName="d">
  <br>
  
  <button (click)="onClickSzamit()">
    Számít
  </button>
  
  <div *ngIf="teruletVisible">
  <label>Terület</label>
  <input formControlName="terulet">
  </div>
</form>

<!-- 
<label for="a">Oldal</label>
<input id="a"
[(ngModel)]="a"
>
<label for="b">Oldal</label>
<input id="b"
[(ngModel)]="b"
>
<label for="c">Oldal</label>
<input id="c"
[(ngModel)]="c"
>
<label for="d">Oldal</label>
<input id="d"
[(ngModel)]="d"
>
<br>
<Button (click)="onClickSzamit()">
  Számít
</Button>" -->
